#bl_conceptPicker {
    height: 120px;
    width: 250px;
}

.bl_concept {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    color: #fff;
    font-size: 14px;
    display: block;
}

.bl_concept.mismatch {
    display: none;
}

.bl_concept:hover {
    color: #000;
    background-color: #ccffd6;
}

.bl_cval {
    display: inline;
    color: #75ff6b;
}

.bl_mval {
    display: inline;
    color: #ffa66b;
}